<ion-header-bar class="side-header left-side">
  <h1 class="title" ng-click="setCurrentGame('_endgame'); modal.hide();" menu-toggle="left">
		<div class="is-online">
			<div>
				<span ng-show="online">
					<span class="indicator online fa fa-circle"></span> 

					<span ng-controller="UsersCtrl">
						<span ng-show="signedIn == 'local'">
							Online
						</span>
					</span>

					<span ng-controller="UsersCtrl">
						<span class="online-message" ng-show="signedIn == 'local'">
							- Sign in to sync
						</span>
					</span>
				</span>

				<span ng-hide="online">			
					<span class="indicator offline fa fa-circle"></span>

					<span ng-controller="UsersCtrl">
						<span ng-show="signedIn == 'local'">
							Offline
						</span>
					</span>
				</span>

				<span ng-controller="UsersCtrl">
					<span class="online-message signed-in" ng-show="signedIn != 'local'">
						{{signedInUser.name}}
					</span>
				</span>
			</div>
		</div>
	</h1>
</ion-header-bar>

<ion-content class="left-container">
	<div ng-controller="UsersCtrl">
		<ul ng-show="signedIn == 'local'">
			<li menu-toggle="left" ng-click="signInModal.show()">
				Sign In
			</li>
			<li menu-toggle="left" ng-click="signUpModal.show()">
				Create Account
			</li>
		</ul>

		<ul ng-hide="signedIn == 'local'">
			<li menu-toggle="left">
				Account Settings
			</li>
			<li menu-toggle="left" ng-click="signOut()">
				Sign Out
			</li>
		</ul>
	</div>
</ion-content>
