<li class="child" ng-repeat="game in games" data-pos="{{game.doc.position}}" data-id="{{game.doc._id}}" ng-click="openGame($event)">
	<span class="game">
		<span class="priority-wrap">
			<span ng-show="game.doc.plays[0].priority == '8'" class="priority">
				<span class="fa fa-circle icon rock"></span>
			</span>
			<span ng-show="game.doc.plays[0].priority == '4'" class="priority">
				<span class="fa fa-dot-circle-o icon sand"></span>
			</span>
			<span ng-show="game.doc.plays[0].priority == '2'" class="priority">
				<span class="fa fa-circle-o icon water"></span>
			</span>
		</span>
		{{game.doc.game}}
	</span>

	<span class="state-wrap" ng-mouseover="showStateButtons($event)" ng-mouseleave="hideStateButtons($event)">
		<span ng-class="{active: game.doc.plays[0].state == 'lost'}" class="state lost" ng-click="ready || setState(game.doc._id, 'lost')">
			<span class="fa fa-times"></span>
		</span>
		<span ng-class="{active: game.doc.plays[0].state == 'playing'}" class="state playing" ng-click="ready || setState(game.doc._id, 'playing')">
			<span class="fa fa-circle"></span>
		</span>
		<span ng-class="{active: game.doc.plays[0].state == 'won'}" class="state won" ng-click="ready || setState(game.doc._id, 'won')">
			<span class="fa fa-check"></span>
		</span>
	</span>

	<div class="info-wrap">
		<span class="time-wrap">
			<span class="fa fa-clock-o icon"></span>
			<span class="text" am-time-ago="game.doc.plays[0].end"></span>
		</span>
	</div>
</li>
