<div class="current-game">
	<span ng-show="currentGame._id == '_endgame'">
		<span class="current-game-text">
			<span class="fa fa-stop end-icon"></span>
			End Games
		</span>
	</span>

	<span ng-show="currentGame._id != '_endgame'">
		<span class="editable">
			<div ng-click="showEditForm()" class="editable-switch">
				<span class="current-game-text">
					<span ng-show="currentGame.plays[0].priority == '8'" class="priority">
						<span class="fa fa-circle icon rock"></span>
					</span>
					<span ng-show="currentGame.plays[0].priority == '4'" class="priority">
						<span class="fa fa-dot-circle-o icon sand"></span>
					</span>
					<span ng-show="currentGame.plays[0].priority == '2'" class="priority">
						<span class="fa fa-circle-o icon water"></span>
					</span>

					{{currentGame.game}}

					<div class="game-info-wrap">
						<span class="fa fa-clock-o"></span>
						{{currentGame.plays[0].end}}
					</div>
				</span>
			</div>

			<div class="edit-form-wrap">
				<div class="form-content-wrap">
					<form class="game-form" method="post" ng-submit="saveEdit()">
						<div class="game-text-wrap">
							<span class="game-text-priority">
								<span ng-show="editForm.priority.value == 8" class="fa fa-circle"></span>
								<span ng-show="editForm.priority.value == 4" class="fa fa-dot-circle-o"></span>
								<span ng-show="editForm.priority.value == 2" class="fa fa-circle-o"></span>
							</span>

							<input ng-model="editForm.game.text" type="text" name="game" class="game-input" autofocus="autofocus" autocomplete="off" placeholder="What's The Game?">
						</div>
						<div class="game-time-wrap">
							<span class="fa fa-clock-o time-icon"></span>							
							<input ng-model="editForm.time.text" type="text" name="end-time" placeholder="End Time" class="time-input" autocomplete="off">
						</div>

						<div class="game-priority">
							<span class="field-label">Priority</span>
							<label for="edit-high-radio">
								<input id="edit-high-radio" type="radio" ng-model="editForm.priority.value" name="priority" ng-value="8">
								<span>
									<span class="fa fa-circle"></span>
									High
								</span>
							</label>

							<label for="edit-mid-radio">
								<input id="edit-mid-radio" type="radio" ng-model="editForm.priority.value" name="priority" ng-value="4">
								<span>
									<span class="fa fa-dot-circle-o"></span>
									Mid
								</span>
							</label>

							<label for="edit-low-radio">
								<input id="edit-low-radio" type="radio" ng-model="editForm.priority.value" name="priority" ng-value="2">
								<span>
									<span class="fa fa-circle-o"></span>
									Low
								</span>
							</label>
						</div>
						<div class="buttons-wrap">
							<button type="submit" class="submit-button">
								<span class="button-text">
									Save
								</span>
								<span class="fa fa-check-circle button-icon">
								</span>
							</button>
							<button type="button" class="close-button" ng-click="hideEditForm(false)">
								<span class="fa fa-times-circle button-icon"></span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</span>

		<div class="game-state-wrap">
			<span class="current-game-state">
				<span ng-class="{active: currentGame.plays[0].state == 'lost'}" class="game-state lost" ng-click="setState(currentGame._id, 'lost')">
					<span class="fa fa-times"></span>
				</span>
				<span ng-class="{active: currentGame.plays[0].state == 'playing'}" class="game-state playing" ng-click="setState(currentGame._id, 'playing')">
					<span class="fa fa-circle"></span>
				</span>
				<span ng-class="{active: currentGame.plays[0].state == 'won'}" class="game-state won" ng-click="setState(currentGame._id, 'won')">
					<span class="fa fa-check"></span>
				</span>
			</span>
		</div>
	</span>
</div>
