<!DOCTYPE html>
<html ng-app="tinker">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

	<title>Tinker</title>

	<link rel="shortcut icon" href="images/favicon.png">

	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">

	<link rel="stylesheet" href="styles/main.css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" media="screen" charset="utf-8">

	<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/pouchdb/dist/pouchdb.min.js"></script>
	<script type="text/javascript" src="lib/sugar/release/sugar.min.js"></script>
	<script type="text/javascript" src="lib/angular-pouchdb/angular-pouchdb.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="lib/angular-moment/angular-moment.min.js"></script>

	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers/games.js"></script>
</head>
<body ng-controller="GamesCtrl">
	<div class="header">
		<div class="side-switch" ng-show="currentGame._id != '_endgame'" ng-click="openCurrentParent()">
			<span class="fa fa-chevron-left"></span>
		</div>
		<div class="prio-switch">
			<img src="images/triangle.svg">
		</div>
		<img ng-show="currentGame._id == '_endgame'" class="logo" src="images/logo.svg" ng-click="setCurrentGame('_endgame')">
		<img ng-show="currentGame._id != '_endgame'" class="logo simple" src="images/logo_icon.svg" ng-click="setCurrentGame('_endgame')">
	</div>
	<div class="container st-12 lt-10 lt-push-1 sd-6 sd-push-3 ld-4 ld-push-4">
		<div class="container-content">
			<%- include partials/content.html %>
		</div>
	</div>
</body>
</html>
