<!DOCTYPE html>
<html ng-app="tinker">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

	<title>Tinker</title>

	<link rel="shortcut icon" href="images/favicon.png">

	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">

	<link rel="stylesheet" href="styles/main.css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" media="screen" charset="utf-8">

	<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/pouchdb/dist/pouchdb.min.js"></script>
	<script type="text/javascript" src="lib/sugar/release/sugar.min.js"></script>
	<script type="text/javascript" src="lib/angular-pouchdb/angular-pouchdb.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="lib/angular-moment/angular-moment.min.js"></script>
	<script type="text/javascript" src="lib/hammerjs/hammer.min.js"></script>
	<script type="text/javascript" src="lib/AngularHammer/angular.hammer.min.js"></script>

	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers/games.js"></script>
</head>
<body ng-controller="GamesCtrl">
	<div class="header sm-12 st-12 lt-8 sd-6 sd-push-2 ld-5 ld-push-2">
		<div class="back-button" ng-show="currentGame._id != '_endgame'" ng-click="openCurrentParent()">
			<span class="fa fa-chevron-left"></span>
		</div>
		<div class="prio-switch" ng-click="tab2()">
			<img src="images/triangle.svg">
			<span class="switch-label">Next Priorities</span>
		</div>
		<img ng-show="currentGame._id == '_endgame'" class="logo" src="images/logo.svg" ng-click="setCurrentGame('_endgame')">
		<img ng-show="currentGame._id != '_endgame'" class="logo simple" src="images/logo_icon.svg" ng-click="setCurrentGame('_endgame')">
	</div>

	<div
		hm-swipeleft="tab2(); preventDefault()"
		hm-swiperight="openCurrentParent() preventDefault()"
		hm-swipeup="preventDefault()"
		hm-swipedown="preventDefault()"
		class="games-container container sm-12 st-12 lt-8 sd-6 sd-push-2 ld-5 ld-push-2"
		style="float: left"
	>
		<div class="container-content">
			<%- include partials/content.html %>
		</div>
	</div>


	<div hm-swiperight="tab1()" class="prio-container container sm-push-12 lt-4 sd-4 sd-push-2 ld-3">
		<div class="container-content">
			<h4>Next Priorities</h4>

			<div class="no-games" ng-show="prios.length == 0">
				No priorities for now
			</div>

			<ul>
				<li ng-click="setCurrentGame(prio.doc._id); tab1()" ng-repeat="prio in prios">
					<div class="game-wrap">
						<span ng-show="{{prio.doc.plays[prio.doc.plays.length-1].priority == 8}}" class="fa fa-circle"></span>
						<span ng-show="{{prio.doc.plays[prio.doc.plays.length-1].priority == 4}}" class="fa fa-dot-circle-o"></span>
						<span ng-show="{{prio.doc.plays[prio.doc.plays.length-1].priority == 2}}" class="fa fa-circle-o"></span>
						{{prio.doc.game}}
					</div>
					<div class="info-wrap">
						<span am-time-ago="prio.doc.plays[prio.doc.plays.length-1].end"></span>
					</div>
				</li>
			</ul>

		</div>
	</div>
</body>
</html>
