@import "components/_grid";

@dark3: darken(@dark4, 3%);
@dark4: darken(@dark5, 3%);
@dark5: #111214;
@dark6: lighten(@dark5, 3%);
@dark7: lighten(@dark6, 3%);
@dark8: lighten(@dark7, 3%);
@dark9: lighten(@dark8, 3%);

@green: #6a5;
@red: #e36;
@yellow: #ed2;
@blue: #35a;

@keyframes popIn {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes popOut {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

* {
	padding: 0;
	margin: 0;

	&:focus {
		outline: none;
	}
}

*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
	cursor: default;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Light.woff2');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-LightItalic.woff2');
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Italic.woff2');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Semibold.woff2');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-SemiboldItalic.woff2');
	font-style: italic;
	font-weight: 500;
}

html {
	height: 100%;
}

body {
	font-family: 'lato', 'helvetica neue';
	font-weight: 200;
	background: @dark4;
	color: #888;
	height: 100%;
}

input[type=submit], button {
	border: none;
	background: #ddd;
	color: #888;
	border-radius: 30px;
	padding: 8px 20px;
	font-size: 13px;
	float: right;
	cursor: pointer;
	transition: .5s;
	font-weight: 400;

	&:hover {
		background: #ccc;
		color: #666;
	}

	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

input {
	font-family: "lato", "helvetica neue";
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	text-align: center;
	background: @dark3;
	height: 60px;

	img.logo {
		margin: 15px 0;
		height: 30px;
		cursor: pointer;
	}

	.side-switch {
		position: absolute;
		padding: 15px;
		left: 0;
		top: 0;
		width: 60px;
		height: 60px;
		transition: .5s;
		cursor: pointer;
		font-size: 20px;

		img {
			width: 100%;
		}
	}

	.prio-switch {
		position: absolute;
		padding: 16px;
		right: 0;
		top: 0;
		width: 60px;
		height: 60px;
		transition: .5s;
		cursor: pointer;

		&:hover {
			color: #fff;
		}

		span {
			font-size: 30px;
		}
	}
}

.container {
	margin: 0 auto;
	margin-top: 60px;
	height: 100%;
	padding: 0;
	overflow: auto;
	max-width: inherit;

	.container-content {
		width: 100%;
		min-height: 100%;
		background: @dark5;
		margin: 0 auto;
		overflow: auto;
	}
}

.game-top-wrap {
	margin-top: 20px;
	padding: 10px 20px;

	.current-game {
		font-size: 180%;
		color: #ddd;

		.editable {
			cursor: pointer;

			& div {
				cursor: pointer;
			}
		}

		.edit-form-wrap {
			border-bottom: 1px solid #444;
			padding-bottom: 8px;

			.game-form-basic;

			.form-content-wrap {
				.game-form {
					.game-text-wrap {
						.game-text-priority {
							top: 0;
							left: 0;
							font-size: 25px;
						}
					}

					input[type=text] {
						&:focus {
							background: none;
						}

						&.game-input {
							font-size: 25px;
							padding: 0 20px 10px 28px;
							color: #ddd;
						}

						&.time-input {
							font-size: 15px;
							padding-top: 0;
							padding-bottom: 0;
						}
					}
				}
			}

			display: none;
		}

		.end-icon {
			color: #aaa;
		}

		.game-info-wrap {
			color: #888;
			font-size: 15px;
		}

		.game-state-wrap {
			text-align: center;
			margin: 5px 0;

			.current-game-state {
				background: @dark9;
				border-radius: 20px;
				display: inline-flex;

				.game-state {
					cursor: pointer;
					font-size: 12px;
					padding: 6px 0 0;
					border-radius: 20px;
					display: inline-block;
					transition: .5s;
					width: 30px;
					height: 30px;
					text-align: center;
					color: #888;

					&:not(.active) {

						&:hover {
							background: #ddd;

							&.won {
								color: @green;
							}

							&.lost {
								color: @red;
							}

							&.playing {
								color: #fff;
								background: none;
							}
						}
					}

					&.active {
						color: #fff;

						&.won {
							background: @green;
						}

						&.lost {
							background: @red;
						}

						&.playing {
							color: #fff;
						}
					}
				}
			}
		}
	}

	.game-path-wrap {
		margin-bottom: 10px;

		.game-path {
			cursor: pointer;
			color: #aaa;
			transition: .5s;

			&:hover {
				color: #ddd;
			}
		}

		.ellipsis {
			color: #ddd;
			letter-spacing: -2px;
			transition: .5s;
			cursor: pointer;

			&:hover {
				color: #fff;
			}
		}

		.current-parent {
			transition: .5s;
		}
	}
}

.game-form-basic {
	.form-content-wrap {
		overflow: auto;
		position: relative;

		.game-form {

			.error, .success, .message {
				padding: 3px 20px;
				font-size: 12px;
				font-style: italic;
			}

			.error {
				color: @red;
			}

			.success {
				color: @green;
			}

			.game-text-wrap {
				position: relative;

				.game-text-priority {
					position: absolute;
					left: 20px;
					top: 15px;
					font-size: 18px;

					.fa {
						@keyframes pop {
							0% {
								transform: scale(0);
							}
							100% {
								transform: scale(1);
							}
						}

						animation: pop .5s ease;
					}
				}
			}

			.game-time-wrap {
				position: relative;

				.time-icon {
					position: absolute;
					margin-top: 5px;
					font-size: 14px;
				}

				.repeat-switch {
					position: absolute;
					top: 0;
					right: 0;
					cursor: pointer;
					transition: .5s;
					padding: 8px 10px;
					height: 100%;
					background: @dark7;

					&:hover {
						color: #eee;
						background: @dark9;
					}
				}
			}

			input[type=text] {
				width: 100%;
				border: none;
				background: none;
				font-weight: 100;
				color: #aaa;
				padding: 5px 20px;
				font-size: 15px;
				transition: .5s;
				display: block;

				&:focus {
					outline: none;
					background: @dark4;
					color: #ddd;
				}

				&.game-input {
					font-size: 18px;
					padding: 15px 20px 10px 40px;
				}

				&.time-input {
					font-size: 14px;
					padding-left: 18px;
				}
			}

			.buttons-wrap {
				overflow: auto;
				padding: 4px 0;
				margin-top: 10px;

				button {
					border: none;
					background: none;
					color: #888;
					float: right;
					padding: 0;
					vertical-align: middle;

					&.close-button {
						float: left;
					}

					&.submit-button {
						float: right;
					}

					.button-icon {
						font-size: 24px;
					}

					.button-text {
						font-size: 15px;
						margin: 0 3px;
						font-weight: 400;
						vertical-align: top;
					}

					&:hover {
						color: #ddd;
					}

					&:focus {
						outline: none;
					}
				}
			}

			.game-priority {
				.field-label {
					font-size: 14px;
				}

			  label {
					margin-top: 14px;
					margin-bottom: 10px;

			    input[type=radio], input[type=checkbox] {
			      display: none;

			      & + span {
			        color: #888;
			        font-size: 12px;
			        cursor: pointer;

			        &:hover {
			          color: #eee;
			        }
			      }

			      & + span {
			        cursor: pointer;
			        color: #888;
			        display: inline-block;
			        padding: 4px 10px;
			        border-radius: 50px;
			        background: #222;
			        font-weight: normal;
							transition: .5s;

			        &:hover {
			          color: #eee;
			        }
			      }

			      &:checked + span {
			        background-color: #aaa;
			        color: #222;
			      }
			    }
			  }

			  .repeat-input-wrap {
			    display: none;
			  }
			}
		}
	}
}

.form-wrap {
	border: dashed @dark9;
	border-width: 1px 0;
	background: @dark4;
	.game-form-basic;

	.form-switch {
		padding: 14px 20px;
		font-size: 18px;
		cursor: pointer;
		transition: .5s;

		.switch-icon, .switch-text {
			color: #666;
			transition: .5s;
		}

		.switch-text {
			font-style: italic;
		}

		&:hover {
			background: @dark3;

			.switch-icon, .switch-text {
				color: #aaa;
			}
		}
	}

	.game-priority {
		padding: 0 20px;
	}

	.buttons-wrap {
		background: @dark6;

		button {
			margin: 10px 20px;
		}
	}

	.form-content-wrap {
		display: none;
		min-height: 50px;
	}
}

.children-wrap {
	margin-top: 10px;

	ul {
		margin: 0;

		li.child {
			list-style: none;
			padding: 10px 20px;
			transition: .5s;
			cursor: pointer;
			overflow: auto;
			position: relative;
			min-height: 70px;
			transition: .5s;

			.game {
				font-size: 18px;
				color: #aaa;
				transition: .5s;
				display: block;
				padding-right: 10px;
			}

			.info-wrap {
				margin-top: 5px;
				font-size: 14px;

				.time-wrap {
					color: #666;
				}
			}

			.state-wrap {
				position: absolute;
				right: 20px;
				top: 20px;
				display: inline-flex;
				border-radius: 20px;
				transition: .5s;
				cursor: pointer;

				.state {
					display: none;
					cursor: pointer;
					transition: .5s;
					border-radius: 20px;
					padding: 6px;
					width: 30px;
					height: 30px;
					font-size: 13px;
					text-align: center;

					&.active {
						display: inline-block;

						&.won {
							color: @green;
						}

						&.lost {
							color: @red;
						}
					}
				}

				&:hover {
					background: @dark9;

					.state {
						display: inline-block;

						&:not(.active){
							@keyframes slide {
								0% {
									margin-right: -15px;
									opacity: 0;
								}

								60% {
									margin-right: 1px;
								}

								100% {
									margin-right: 0;
									opacity: 1;
								}
							}

							animation: slide .5s ease-out;
						}

						&.active {
							color: #fff;

							&.won {
								background: @green;
							}

							&.lost {
								background: @red;
							}

							&.playing {
								color: #fff;
							}
						}

						&:hover {
							background: #fff;

							&.won {
								color: @green;
							}

							&.lost {
								color: @red;
							}

							&.playing {
								color: #fff;
								background: none;
							}

							&.active {
								color: #fff;
							}
						}
					}
				}
			}

			&.ui-sortable-helper {
				outline: dashed @dark9;
				outline-width: 1px;
				transition: none;
			}

			&:hover, &.ui-sortable-helper {
				background: @dark4;
				color: #888;

				.game {
					color: #ddd;
				}
			}
		}
	}

	.no-games {
		text-align: center;
		background: none;
		font-style: italic;
		color: #555;
		padding: 20px 10px;
		transition: .5s;
	}
}
