@import "components/_grid";

@dark1: darken(@dark2, 1%);
@dark2: darken(@dark3, 1%);
@dark3: darken(@dark4, 1%);
@dark4: darken(@dark5, 3%);
@dark5: #202427;
@dark6: lighten(@dark5, 2%);
@dark7: lighten(@dark6, 3%);
@dark8: lighten(@dark7, 3%);
@dark9: lighten(@dark8, 3%);
@dark10: lighten(@dark9, 3%);
@dark11: lighten(@dark10, 3%);
@dark12: lighten(@dark11, 3%);

@gray1: #4f5254;
@gray2: lighten(@gray1, 3%);
@gray3: lighten(@gray2, 4%);
@gray4: lighten(@gray3, 5%);
@gray5: lighten(@gray4, 5%);
@gray6: lighten(@gray5, 5%);

@light1: #646566;
@light2: lighten(@light1, 3%);
@light3: lighten(@light2, 4%);
@light4: lighten(@light3, 5%);
@light5: lighten(@light4, 5%);
@light6: lighten(@light5, 5%);

@white1: #999a9b;
@white2: lighten(@white1, 3%);
@white3: lighten(@white2, 4%);
@white4: lighten(@white3, 4%);
@white5: lighten(@white4, 5%);
@white6: lighten(@white5, 5%);
@white7: lighten(@white6, 5%);
@white8: lighten(@white7, 5%);
@white9: lighten(@white8, 5%);


@green: #6a5;
@red: #e36;
@yellow: #ed2;
@blue: #35a;

@keyframes popIn {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes popOut {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

* {
	padding: 0;
	margin: 0;

	&:focus {
		outline: none;
	}
}

*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
	cursor: default;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Light.woff2');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-LightItalic.woff2');
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Italic.woff2');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Semibold.woff2');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-SemiboldItalic.woff2');
	font-style: italic;
	font-weight: 500;
}

html {
	height: 100%;
}

body {
	font-family: 'lato', 'helvetica neue';
	font-weight: 200;
	background: @dark3;
	color: @gray3;
	height: 100%;
}

input[type=submit], button {
	border: none;
	background: @white7;
	color: @gray3;
	border-radius: 30px;
	padding: 8px 16px;
	font-size: 13px;
	cursor: pointer;
	transition: .5s;
	font-weight: 400;

	&:hover {
		background: @white7;
		color: @gray3;
	}

	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

input {
	font-family: "lato", "helvetica neue";
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	text-align: center;
	background: @dark4;
	height: 60px;

	img.logo {
		transition: .5s;
		margin: 15px 0;
		height: 30px;
		cursor: pointer;

		&.simple {
			float: left;
		}

		&:not(.simple) {
			@keyframes logoAnim {
				0% {
					margin-top: -20px;
					opacity: 0;
				}

				100% {
					margin-top: 15px;
					opacity: 1;
				}
			}

			animation: logoAnim .5s ease-out;
		}
	}

	.side-switch {
		padding: 15px 0 0 15px;
		left: 0;
		top: 0;
		width: 60px;
		height: 60px;
		transition: .5s;
		cursor: pointer;
		font-size: 20px;
		float: left;

		img {
			width: 100%;
		}
	}

	.prio-switch {
		position: absolute;
		padding: 18px;
		right: 0;
		top: 0;
		width: 60px;
		height: 60px;
		transition: .5s;
		cursor: pointer;
		margin-right: 10px;

		&:hover {
			color: @white9;
		}

		.prio-button {
			border: 2px solid @gray6;
			border-radius: 4px;
			transform: rotate(45deg);
			width: 24px;
			height: 24px;
			display: inline-block;
			transition: .5s;

			&:hover {
				background: @white9;
				border-color: @white9;
			}
		}
	}
}

.prio-wrap {
	background: rgba(255, 0, 0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	transition: .5s;
	left: 100%;
}

.container {
	margin: 0 auto;
	height: 100%;
	padding: 0;
	overflow: auto;
	max-width: inherit;

	.container-content {
		width: 100%;
		min-height: 100%;
		background: @dark5;
		margin: 0 auto;
		margin-top: 60px;
		overflow: auto;
	}
}

.check-button {
	label {
		margin: 0;

		input[type=radio], input[type=checkbox] {
			display: none;

			& + span {
				cursor: pointer;
				color: @gray1;
				display: inline-block;
				font-size: 12px;
				padding: 0 2px;
				border-radius: 50px;
				background: none;
				font-weight: normal;
				transition: .5s;

				.fa {
					display: none;
					animation: popIn .2s;
				}

				&:hover {
					color: @gray6;
				}
			}

			&:checked + span {
				color: @white5;

				.fa {
					display: inline-block;
				}
			}
		}
	}
}

.game-top-wrap {
	padding: 20px 0 0;

	.current-game {
		font-size: 25px;
		color: @white7;

		.editable {
			cursor: pointer;

			.editable-switch {
				margin: 0 20px;
			}

			& div {
				cursor: pointer;
			}

			.replay-count-wrap {
				font-size: 13px;
				color: @light3;
				font-weight: 100;
			}
		}

		.end-game-text {
			margin: 0 20px;
		}

		.edit-form-wrap {
			background: @dark4;

			.game-form-basic;

			.form-content-wrap {
				.game-form {
					.game-form-content {
						padding: 8px 20px;
					}

					.game-text-wrap {
						.game-text-priority {
							top: 0;
							left: 0;
							font-size: 25px;
						}
					}

					.buttons-wrap {
						padding: 9px 20px;
						background: @dark6;

						.ellipsis {
							float: left;
							font-size: 10px;
							padding: 5px 0;
							color: @gray6;

							&:hover {
								color: @white9;
							}
						}
					}

					.success, .info, .error {
						padding: 3px 0;
					}

					input[type=text] {

						&:focus {
							background: none;
						}

						&.game-input {
							font-size: 25px;
							padding: 0 20px 5px 28px;
							color: @white7;
						}

						&.time-input {
							font-size: 15px;
							padding-top: 5px;
							padding-bottom: 5px;
						}
					}
				}
			}

			.edit-details-wrap {
				display: none;
				width: 100%;
				border-top: 1px solid @dark5;
				color: @dark10;

				.button {
					background: none;
					padding: 10px 20px;
					font-size: 12px;
					display: block;
					color: @light1;
					transition: .5s;

					&:hover {
						color: @light6;
					}
				}
			}

			display: none;
		}

		.end-icon {
			color: @white3;
		}

		.game-info-wrap {
			color: @gray3;
			font-size: 15px;

			.fa {
				width: 20px;
				text-align: center;
				margin-right: -3px;
			}
		}

		.game-state-wrap {
			text-align: center;
			margin: 5px 0;

			.current-game-state {
				background: @dark7;
				border-radius: 20px;
				display: inline-flex;

				.game-state {
					cursor: pointer;
					font-size: 12px;
					padding: 6px 0 0;
					border-radius: 20px;
					display: inline-block;
					transition: .5s;
					width: 30px;
					height: 30px;
					text-align: center;
					color: @gray3;

					&:not(.active) {

						&:hover {
							box-shadow: 0 0 0 17px white inset;

							&.won {
								color: @green;
							}

							&.lost {
								color: @red;
							}

							&.playing {
								box-shadow: none;
								color: @white9;
							}
						}
					}

					&.active {
						color: @white9;

						&.won {
							box-shadow: 0 0 0 17px @green inset;
						}

						&.lost {
							box-shadow: 0 0 0 17px @red inset;
						}

						&.playing {
							color: @white9;

							.fa:before {
								content: "\f111";
							}
						}
					}

					&:hover {

						&.playing {
							.fa:before {
								content: "\f111";
							}
						}
					}
				}
			}
		}

		.replay-wrap {
			@keyframes replaySlide {
				from {
					margin-top: -20px;
					opacity: 0;
				}

				to {
					margin-top: 5px;
					opacity: 1;
				}
			}

			animation: replaySlide .5s;
			margin: 5px 0;

			button {
				color: @gray6;
				border: 2px solid @dark7;
				background: none;
				font-size: 12px;

				.fa {
					margin-right: 4px;
				}

				&:hover {
					color: @white7;
					background: @dark7;
				}
			}

			.replay-form-wrap {
				.edit-form-wrap;

				.game-text-wrap {
					text-align: left;
					padding: 5px 20px;
					background: @dark5;
				}
			}
		}
	}

	.game-path-wrap {
		margin: 0 20px 10px;

		.game-path {
			cursor: pointer;
			color: @gray6;
			transition: .5s;

			&:hover {
				color: @white7;
			}
		}

		.ellipsis {
			color: @white7;
			letter-spacing: -2px;
			transition: .5s;
			cursor: pointer;

			&:hover {
				color: @white9;
			}
		}

		.current-parent {
			transition: .5s;
		}
	}
}

.game-form-basic {

	.game-text-wrap {

		.game-text-priority {
			cursor: pointer;

			.fa {
				animation: popIn .5s ease;
			}
		}
	}

	.form-content-wrap {
		overflow: auto;
		position: relative;
		text-align: left;

		.game-form {

			.game-form-content {
				margin-bottom: 10px;
			}

			.error, .success, .info, .warn {
				@keyframes slideDown {
					from {
						opacity: 0;
					}

					to {
						opacity: 1;
					}
				}

				padding: 3px 20px;
				font-size: 12px;
				color: @gray3;
				transition: .5s;
				animation: slideDown .5s;

				.fa {
					font-size: 10px;
				}
			}

			.error .fa {
				color: @red;
			}

			.success .fa {
				color: @green;
			}

			.warn .fa {
				color: @yellow;
			}

			.game-text-wrap {
				position: relative;

				.game-text-priority {
					position: absolute;
					left: 20px;
					top: 15px;
					color: @white7;
					font-size: 18px;
				}
			}

			.game-time-wrap {
				position: relative;

				.typeahead {
					position: absolute;
					left: 22.5px;
					top: 5px;

					.typeahead-puhser {
						visibility: hidden;
					}

					.typeahead-text {
						color: @gray3;
						cursor: pointer;
					}
				}

				.time-icon {
					position: absolute;
					margin-top: 8px;
					font-size: 14px;
					width: 20px;
					text-align: center;
				}

				.repeat-switch {
				  position: absolute;
				  top: 0;
				  right: 0;
				  cursor: pointer;
				  transition: .5s;
				  padding: 4px 15px;
				  background: #2b3135;
				  border-radius: 20px;
				  font-size: 12px;
				  margin-top: 2px;
				  margin-right: 20px;

					&:hover {
						color: @white7;
						background: @dark9;
					}
				}
			}

			input[type=text] {
				width: 100%;
				border: none;
				background: none;
				font-weight: 100;
				color: @gray6;
				padding: 5px 20px;
				font-size: 15px;
				transition: .5s;
				display: block;

				&::-webkit-input-placeholder {
					color: @gray3;
				}

				&:-moz-placeholder {
					color: @gray3;
				}

				&::-moz-placeholder {
					color: @gray3;
				}

				&:-ms-input-placeholder {
					color: @gray3;
				}

				&:focus {
					outline: none;
					background: @dark4;
					color: @white7;
				}

				&.game-input {
					font-size: 18px;
					padding: 15px 20px 10px 40px;
				}

				&.time-input, &.repeat-input {
					font-size: 14px;
					padding-left: 22px;
				}

				&.repeat-input {
					display: none;
				}
			}

			.buttons-wrap {
				overflow: auto;
				padding: 0 8px;

				button {
					border: none;
					background: none;
					color: @gray3;
					float: right;
					padding: 0;
					vertical-align: middle;

					&.close-button {
						float: left;
					}

					&.submit-button {
						float: right;
					}

					.button-icon {
						font-size: 20px;
					}

					.button-text {
						font-size: 14px;
						margin: 0 3px;
						vertical-align: top;
					}

					&:hover {
						color: @white7;
					}

					&:focus {
						outline: none;
					}
				}
			}

			.game-priority {
				.field-label {
					font-size: 12px;
					color: @white3;
				}

				.check-button;
			}
		}
	}
}

.form-wrap {
	border: dashed @dark9;
	border-width: 1px 0;
	background: @dark4;
	margin-top: 20px;
	.game-form-basic;

	.form-switch {
		padding: 14px 20px;
		font-size: 18px;
		cursor: pointer;
		transition: .5s;

		.switch-icon, .switch-text {
			color: @gray3;
			transition: .5s;
		}

		.switch-text {
			font-style: italic;
		}

		&:hover {
			background: @dark3;

			.switch-icon, .switch-text {
				color: @gray6;
			}
		}
	}

	.game-priority {
		padding: 10px 20px;
	}

	.buttons-wrap {
		background: @dark6;
		padding: 4px 0;

		button {
			margin: 10px 12px;
		}
	}

	.form-content-wrap {
		display: none;
		min-height: 50px;
	}
}

.children-wrap {
	margin-top: 5px;

	ul {
		margin: 0;

		li.child {
			list-style: none;
			padding: 10px 20px;
			overflow: auto;
			position: relative;
			min-height: 70px;
			cursor: pointer;
			border-top: 2px solid rgba(0, 0, 0, 0);
			transition: .2s;

			* {
				cursor: pointer;
			}

			.game {
				cursor: pointer;
				font-size: 18px;
				color: @white5;
				display: block;
				padding-right: 10px;
				transition: .5s;
			}

			&.done {
				.game {
					color: @light4;
				}

				&:hover {
					.game {
						color: @white4;
					}
				}
			}

			.info-wrap {
				margin-top: 5px;
				font-size: 14px;

				.time-wrap {
					color: @gray3;

					.fa {
						width: 14px;
						text-align: center;
					}
				}

				.replay-icon {
					font-size: 10px;
				}
			}

			.state-wrap {
				position: absolute;
				right: 20px;
				top: 20px;
				display: inline-flex;
				border-radius: 20px;
				transition: .5s;
				cursor: pointer;

				.touch-block {
					width: 100%;
					height: 100%;
					position: absolute;
					border-radius: 20px;
					z-index: 100;
					opacity: 0;
					color: red;
					opacity: .5;
				}

				&:hover {
					@keyframes removeBlock {
						0% {
							width: 100%;
						}

						99% {
							width: 100%;
						}

						100% {
							width: 0;
						}
					}

					.touch-block {
						animation: removeBlock .4s;
						width: 0;
					}
				}

				.state {
					display: none;
					cursor: pointer;
					transition: .5s;
					border-radius: 20px;
					padding: 6px;
					width: 30px;
					height: 30px;
					font-size: 13px;
					text-align: center;

					&.active {
						display: inline-block;

						&.playing {
							color: @dark9;
							font-size: 25px;
							padding: 0;
							margin-top: -3px;

							.fa:before {
								content: "\f1db";
							}
						}

						&.won {
							color: @green;
							background: @dark7;
						}

						&.lost {
							color: @red;
							background: @dark7;
						}
					}
				}

				&.activate {
					background: @dark6;

					.state {
						display: inline-block;

						&:not(.active){
							@keyframes slide {
								0% {
									margin-right: -15px;
									opacity: 0;
								}

								60% {
									margin-right: 1px;
								}

								100% {
									margin-right: 0;
									opacity: 1;
								}
							}

							animation: slide .5s ease-out;
						}

						&.active, &.active:hover {
							color: @white9;

							&.won {
								box-shadow: 0 0 0 17px @green inset;
							}

							&.lost {
								box-shadow: 0 0 0 17px @red inset;
							}

							&.playing {
								color: @white9;
								font-size: 13px;
								padding-top: 6px;
								transition: .3s;
								margin: 0;

								.fa:before {
									content: "\f111";
								}
							}
						}

						&:hover {
							&.won {
								color: @green;
								box-shadow: 0 0 0 17px white inset;
							}

							&.lost {
								color: @red;
								box-shadow: 0 0 0 17px white inset;
							}

							&.playing {
								color: @white9;
								background: none;

								.fa:before {
									content: "\f111";
								}
							}

							&.active {
								color: @white9;
							}
						}
					}
				}
			}

			&.ui-sortable-helper {
				outline: dashed @dark9;
				outline-width: 1px;
				transition: none;
			}

			&:hover, &.ui-sortable-helper {
				background: @dark4;
				color: @gray3;
				border-top-color: @dark3;

				.game {
					color: @white7;
				}
			}
		}

		&.won-and-lost {
			background: @dark6;

			li.child {

				&:hover {
					border-top-color: lighten(@dark4, 1%);
					background: @dark5;
				}
			}
		}
	}

	.no-games {
		text-align: center;
		background: none;
		font-style: italic;
		color: @gray2;
		padding: 20px 10px;
		transition: .5s;
	}
}
